@use "./base.scss";
 
// put your custom CSS here!
 
/* LXGW WenKai [4] */
@font-face {
  font-family: "LXGW WenKai";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.6.0/files/lxgwwenkai-regular-subset-4.woff2")
    format("woff2");
  unicode-range:
    U+1f1e9-1f1f5, U+1f1f7-1f1ff, U+1f21a, U+1f232, U+1f234-1f237, U+1f250-1f251, U+1f300,
    U+1f302-1f308, U+1f30a-1f311, U+1f315, U+1f319-1f320, U+1f324, U+1f327, U+1f32a, U+1f32c-1f32d,
    U+1f330-1f357, U+1f359-1f37e;
}
/* LXGW WenKai [5] */
@font-face {
  font-family: "LXGW WenKai";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.6.0/files/lxgwwenkai-regular-subset-5.woff2")
    format("woff2");
  unicode-range:
    U+fee3, U+fef3, U+ff03-ff04, U+ff07, U+ff0a, U+ff17-ff19, U+ff1c-ff1d, U+ff20-ff3a, U+ff3c,
    U+ff3e-ff5b, U+ff5d, U+ff61-ff65, U+ff67-ff6a, U+ff6c, U+ff6f-ff78, U+ff7a-ff7d, U+ff80-ff84,
    U+ff86, U+ff89-ff8e, U+ff92, U+ff97-ff9b, U+ff9d-ff9f, U+ffe0-ffe4, U+ffe6, U+ffe9, U+ffeb,
    U+ffed, U+fffc, U+1f004, U+1f170-1f171, U+1f192-1f195, U+1f198-1f19a, U+1f1e6-1f1e8;
 
  // 后面内容为在线 css 的内容的拷贝
}


/* ---------------------------------------------------------------- */
/*荧光笔高亮 by: Lemonadio*/
/*写着写着就能用了,就不改代码了.*/
.cm-s-obsidian span.cm-formatting-highlight, .cm-s-obsidian span.cm-highlight,
:is(.markdown-preview-view,.markdown-rendered) mark {
  display: inline;
  box-sizing: border-box;
  background-color: inherit;
  background-image: linear-gradient(rgba(255,208,0,0.5),rgba(255,208,0,0.5));
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: 100% 53%;
  border-radius: 1em;
  padding: 0 0.2em;
}

/* ---------------------------------------------------------------- */
/* 行内代码块样式设置 */
.cm-s-obsidian span.cm-inline-code{ 
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px
}
 
.markdown-rendered code { 
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px
}


/* ---------------------------------------------------------------- */
/* 标题美化 */
body {
  --font-bold: bold;
  
  /* 颜色 */
  --h1-color: #f03f28;
  --h2-color: #e4980c;
  --h3-color: #51bc00;
  --h4-color: #0993d3;
  --h5-color: #9084e9;
  --h6-color: var(--color-cyan);
  
  /* 字体大小 */
  --h1-size: calc(var(--font-text-size) * 1.6);
  --h2-size: calc(var(--font-text-size) * 1.5);
  --h3-size: calc(var(--font-text-size) * 1.4);
  --h4-size: calc(var(--font-text-size) * 1.3);
  --h5-size: calc(var(--font-text-size) * 1.2);
  --h6-size: calc(var(--font-text-size) * 1.1);
  
  /* 字重 */
  --h1-weight: var(--font-bold);
  --h2-weight: var(--font-bold);
  --h3-weight: var(--font-bold);
  --h4-weight: var(--font-bold);
  --h5-weight: var(--font-bold);
  --h6-weight: var(--font-bold);
  
  /* 行高 */
  --h1-line-height: calc(var(--line-height-normal) * 1.2);
  --h2-line-height: calc(var(--line-height-normal) * 1.2);
  --h3-line-height: var(--line-height-normal);
  --h4-line-height: var(--line-height-normal);
  --h5-line-height: var(--line-height-normal);
  --h6-line-height: var(--line-height-normal);
  
  --animation: var(--anim-duration-fast) var(--anim-motion-smooth);
}

.theme-light {
  --header-indicator-color-h1: var(--h1-color);
  --header-indicator-bg-h1: transparent;
  --header-indicator-color-h2: var(--h2-color);
  --header-indicator-bg-h2: transparent;
  --header-indicator-color-h3: var(--h3-color);
  --header-indicator-bg-h3: transparent;
  --header-indicator-color-h4: var(--h4-color);
  --header-indicator-bg-h4: transparent;
  --header-indicator-color-h5: var(--h5-color);
  --header-indicator-bg-h5: transparent;
  --header-indicator-color-h6: var(--h6-color);
  --header-indicator-bg-h6: transparent;
}

.theme-dark {
  --header-indicator-color-h1: var(--background-primary);
  --header-indicator-bg-h1: var(--h1-color);
  --header-indicator-color-h2: var(--background-primary);
  --header-indicator-bg-h2: var(--h2-color);
  --header-indicator-color-h3: var(--background-primary);
  --header-indicator-bg-h3: var(--h3-color);
  --header-indicator-color-h4: var(--background-primary);
  --header-indicator-bg-h4: var(--h4-color);
  --header-indicator-color-h5: var(--background-primary);
  --header-indicator-bg-h5: var(--h5-color);
  --header-indicator-color-h6: var(--background-primary);
  --header-indicator-bg-h6: var(--h6-color);
}

:is(div.markdown-reading-view > div > div > div > :is(h1, h2, h3, h4, h5, h6),
.markdown-source-view.mod-cm6.is-live-preview :is(.HyperMD-header-1, .HyperMD-header-2, .HyperMD-header-3, .HyperMD-header-4, .HyperMD-header-5, .HyperMD-header-6)) {
  position: relative;
  margin: 1;
}
:is(div.markdown-reading-view > div > div > div > :is(h1, h2, h3, h4, h5, h6),
.markdown-source-view.mod-cm6.is-live-preview :is(.HyperMD-header-1, .HyperMD-header-2, .HyperMD-header-3, .HyperMD-header-4, .HyperMD-header-5, .HyperMD-header-6))::before {
  position: absolute;
  border-radius: var(--radius-s);
  z-index: 1;
  padding: 2px 2px 1px 2px;
  font-size: 0.6rem;
  height: 0.6rem;
  line-height: 0.6rem;
  letter-spacing: 0.5px;
  font-family: var(--font-interface);
  opacity: 0;
  cursor: pointer;
  transition: var(--animation);
  top: 48%;
  transform: translateY(-50%);
  left: calc(var(--size-4-6) * -1);
}
:is(div.markdown-reading-view > div > div > div > :is(h1, h2, h3, h4, h5, h6),
.markdown-source-view.mod-cm6.is-live-preview :is(.HyperMD-header-1, .HyperMD-header-2, .HyperMD-header-3, .HyperMD-header-4, .HyperMD-header-5, .HyperMD-header-6)):hover::before {
  opacity: 0.8;
}

div.markdown-reading-view > div > div > div > :is(h1, h2, h3, h4, h5, h6)::before {
  left: -24px !important;
}

:not(.popup) :is(h1, h2, h3, h4, h5, h6) {
  margin: calc(var(--font-text-size) / 4) 0;
}

:is(div.markdown-reading-view > div > div > div > h1,
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-header-1)::before {
  border: 2px solid var(--h1-color);
  content: "H1";
  color: var(--header-indicator-color-h1);
  background-color: var(--header-indicator-bg-h1);
}

:is(div.markdown-reading-view > div > div > div > h2,
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-header-2)::before {
  border: 2px solid var(--h2-color);
  content: "H2";
  color: var(--header-indicator-color-h2);
  background-color: var(--header-indicator-bg-h2);
}

:is(div.markdown-reading-view > div > div > div > h3,
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-header-3)::before {
  border: 2px solid var(--h3-color);
  content: "H3";
  color: var(--header-indicator-color-h3);
  background-color: var(--header-indicator-bg-h3);
}

:is(div.markdown-reading-view > div > div > div > h4,
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-header-4)::before {
  border: 2px solid var(--h4-color);
  content: "H4";
  color: var(--header-indicator-color-h4);
  background-color: var(--header-indicator-bg-h4);
}

:is(div.markdown-reading-view > div > div > div > h5,
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-header-5)::before {
  border: 2px solid var(--h5-color);
  content: "H5";
  color: var(--header-indicator-color-h5);
  background-color: var(--header-indicator-bg-h5);
}

:is(div.markdown-reading-view > div > div > div > h6,
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-header-6)::before {
  border: 2px solid var(--h6-color);
  content: "H6";
  color: var(--header-indicator-color-h6);
  background-color: var(--header-indicator-bg-h6);
}

.heading-collapse-indicator {
  position: absolute;
  z-index: 99;
  height: 16px;
  width: 18px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  padding: 0 !important;
  cursor: pointer;
}
.heading-collapse-indicator svg {
  display: none;
}

.HyperMD-header {
  position: relative;
}
.HyperMD-header .cm-fold-indicator .collapse-indicator {
  z-index: 99;
  opacity: 0 !important;
  width: 24px;
  height: 14px !important;
  padding-right: 6px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.cm-formatting.cm-formatting-header {
  filter: grayscale(70%);
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.2rem;
}

h1 {
  text-align: center;
}

:is(h1, .HyperMD-header-1) {
  position: relative;
}
:is(h1, .HyperMD-header-1)::after {
  content: "";
  position: absolute;
  height: 5%;
  width: 100%;
  bottom: 15%;
  left: 0;
  /* background-image: linear-gradient(to left, transparent 0%, var(--h1-color) 50%, transparent 100%); 这个标题下划线有点bug，不太会修先注释掉*/
}

:is(h2, .HyperMD-header-2) {
  position: relative;
}
:is(h2, .HyperMD-header-2)::after {
  content: "";
  position: absolute;
  height: 5%;
  width: 100%;
  bottom: 15%;
  left: 0;
  /* background-image: linear-gradient(to right, var(--h2-color) 0%, transparent 70%); 这个标题下划线有点bug，不太会修先注释掉*/
}

:is(h3, .HyperMD-header-3) {
  position: relative;
}
:is(h3, .HyperMD-header-3)::after {
  content: "";
  position: absolute;
  height: 5%;
  width: 100%;
  bottom: 15%;
  left: 0;
  /* background-image: linear-gradient(to right, var(--h3-color) 0%, transparent 40%); 这个标题下划线有点bug，不太会修先注释掉*/
}

h6,
.cm-header-6 {
  font-variant: small-caps;
}

p {
  margin: var(--size-4-1) 0;
}

/* --------------------------------------------------------------- */
/* 调整最大边距 */
body{
  --file-line-width: 950px;
}


/* --------------------------------------------------------------- */
/* 分割线美化 */
.theme-light {
  --hr-color-side: var(--background-primary);
  --hr-color-center: #8f8f8f;
}

.theme-dark {
  --hr-color-side: var(--background-primary);
  --hr-color-center: #949292;
}

.markdown-source-view.mod-cm6 hr,
.markdown-rendered hr {
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, var(--hr-color-side), var(--hr-color-center), var(--hr-color-side));
}

.markdown-source-view.mod-cm6 hr::after,
.markdown-rendered hr::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg);
  padding: 0.5rem;
  background-color: inherit;
}

/* 添加阴影效果 */
.markdown-source-view.mod-cm6 hr::before,
.markdown-rendered hr::before {
  content: "";
  display: block;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: -2px 0;
}


/* -------------------------------------------------------------- */
/* 调整callout标题的上边距以保持整个内容(标题+内容)能够居中，而不上偏或下偏 */
.callout-title{
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}


/* -------------------------------------------------------------- */
/* 给callout增加阴影 */
.callout {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1); 
}


/* -------------------------------------------------------------- */
/** 文件名滚动**/
body .nav-file-title-content:not(.is-being-renamed):hover {
  animation: filemove 1.5s 1 normal linear;
}

body .nav-file-title-content:not(.is-being-renamed) {
  min-width: 200px;
  white-space: nowrap;
}
body .nav-file {
  display: table;
}
/** 文件夹名**/
body .obsidian-icon-folder-icon {
  vertical-align: middle;
  display: inline;
}

body .nav-folder-title {
  white-space: nowrap;
}

.nav-folder-title-content.is-being-renamed {
  white-space: break-spaces;
}

body .nav-folder-title-content:not(.is-being-renamed) {
  min-width: 200px;
  white-space: nowrap;
}
body .nav-folder-title-content:not(.is-being-renamed):hover {
  animation: filemove 2.1s 1 normal linear;
}

@keyframes filemove {
  0% {transform: translate(0, 0);}
  100% {transform: translate(calc(-100% + 200px), 0);}
}


/* -------------------------------------------------------------- */
/** 笔记/列表颜色设置**/
body{
  --list-marker-color: var(--list-marker-color-collapsed); /* 列表和带数字的列表的颜色 */
  --p-spacing: 0.5rem; /* 列表的上下间距 */
}


/* -------------------------------------------------------------- */
/* 图片居中 */
img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

 .markdown-source-view.mod-cm6 .cm-content > * {
    margin: auto auto !important;
}


/* -------------------------------------------------------------- */
/** mermaid居中 **/
div.mermaid {
    text-align: center;
}

/* -------------------------------------------------------------- */
/* 段落的段前和段后间距 */
.markdown-rendered p {
    margin-block-start: 0.8rem;
    margin-block-end: 0.1rem;
    unicode-bidi: plaintext;
}
/* 第一个/最后一个段落额外处理，避免多余空隙 */
.markdown-rendered .callout .callout-content p:first-child,
.markdown-source-view.mod-cm6 .callout .callout-content p:first-child {
  margin-block-start: 0 !important;
}
.markdown-rendered .callout .callout-content p:last-child,
.markdown-source-view.mod-cm6 .callout .callout-content p:last-child {
  margin-block-end: 0 !important;
}