@use "./base.scss";
 
// put your custom CSS here!


// img元素剧中
img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

 .markdown-source-view.mod-cm6 .cm-content > * {
    margin: auto auto !important;
}

// 修改callout内的p的段前距为0
.callout-content p{
    margin-block-start: 0rem;
    margin-block-end: 1rem; //默认值为1rem

}

// 如果列表前面有 p，则列表的段前距（上间距）为 0
p + ul,
p + ol {
    margin-block-start: 0 !important;
}


/* 当两个标题相邻时移除它们之间的间距 */
:is(h1,h2,h3,h4,h5,h6) + :is(h1,h2,h3,h4,h5,h6) {
  margin-block-start: 0 !important; /* 去掉后一个标题的上间距 */
}

// .article-title {
//   color: #f03f28;
// }

article h2 {
  color: #e4980c;
}

article h3 {
  color: #51bc00;
}

article h4 {
  color: #0993d3;
}

article h5 {
  color: #9084e9;
}